:root {
  --cor-primaria: #da48ff;
  --cor-secundaria: #832b99;
  --cor-bg-header: #9800ee;
  --cor-titulo: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 64px;
}

h2 {
    font-size: 64px;
    font-weight: 700;
}

header {
  background-color: var(--cor-bg-header);
  padding: 32px 16px;
  text-align: center;
  color: var(--cor-titulo);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

  & form {
    border: 4px solid #9800ee;
    border-radius: 8px;

    padding: 16px;

    & fieldset {
      display: flex;
      flex-direction: column;
      gap: 24px;

      & .login {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & input {
          padding: 12px 16px;
          border-radius: 8px;
          border: 2px solid var(--cor-secundaria);
          font-size: 16px;
        }
      }

      & button {
        border-radius: 8px;
        border: none;
        padding: 12px;
        background-color: #4F378A;
        color: var(--cor-titulo);
        font-size: 16px;
      }
    }
  }
}

.votacao {
    & .votacao-dinamic {
        display: flex;
        gap: 24px;
    }

    & .votacao-inputs {
        display: flex;
        gap: 16px;
        & input {
            font-size: 64px;
            width: 64px;
            padding: 8px 0;
            text-align: center;

            /* Remove as setas do input number */
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            /* Para Firefox */
            -moz-appearance: textfield;
        }
    }

    & .votacao-texto {
        margin-top: 16px;
        max-width: 100px;
    }

    & .votacao-img {
        width: 100px;
        height: 140px;
        & img {
            width: 100px;
            height: 140px;
            object-fit: cover;
        }
    }

    & .votacao-botoes {
        display: flex;
        justify-content: space-between;

        & .votacao-botao {
            padding: 8px;
            color: black;
            width: 5rem;
        }

        & .corrige {
            background-color: red;
        }

        & .confirma {
            background-color: green;
        }

        & .branco {
          background-color: white;
          border: 1px solid black;
        }
    }
}


@media (min-width: 640px) {
  .votacao {
    width: 50vw;
    
    & .votacao-dinamic {
      justify-content: space-between;

      & .votacao-inputs {
        gap: 24px;

        & input {
          width: 80px;
          font-size: 80px;
        }
      }

      & .votacao-texto {
        font-size: 32px;
      }

      & .votacao-img {
        width: 150px;
        height: 230px;
        & img {
          width: 150px;
          height: 230px;
        }
      }

    }
    & .votacao-botoes {

      & .votacao-botao {
        
        width: 7rem;
        font-size: 24px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .votacao {
    
    & .votacao-dinamic {
      justify-content: space-between;

      & .votacao-inputs {
        gap: 24px;

        & input {
          width: 160px;
          font-size: 160px;
        }
      }

      & .votacao-texto {
        font-size: 48px;
      }

      & .votacao-img {
        width: 300px;
        height: 460px;
        & img {
          width: 300px;
          height: 460px;
        }
      }

    }
    & .votacao-botoes {

      & .votacao-botao {
        
        width: 10rem;
        padding: 24px;
        font-size: 24px;
      }
    }
  }
}